* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p {
    color: #999999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333
}

/* ------------------ */
.logo p {
    width: 60%;
    float: left;
    color: #ff305b;
    padding: 20px;
    font-size: 30px;
}

.navbar {
    color: white;
    margin: 20px 0 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}


.navbar ul {
    list-style-type: none;
    width: 100%;
    float: right;
}

.navbar ul li {
    float: left;
    width: 20%;
    padding: 0 20px;
    font-size: 15px;
}

.navbar ul li:hover {
    color: #ff305b;
}

/* first section */
.home {
    background-image: url(img/slider/slider-01.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.home_content {
    text-align: center;
    margin: 220px auto;
    width: 600px;
    padding: 50px;
    padding-top: 200px;
    color: white;
    overflow: auto;
}

.home_content h3 {
    color: white;
}

.layer {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.home_content h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---------------------------- */
/* 2nd section */
.info {
    margin: 60px 0px;

}

.about {
    padding-left: 70px;
}

.pic {
    /* background-color: red; */
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
}

.social {
    position: absolute;
    margin: auto;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s, top 1s;
}

.pic:hover .social {
    opacity: 1;
    top: 0;
}

.social ul {
    list-style-type: none;
    text-align: center;
}

.social ul li {
    width: 10%;
    float: left;
    margin-top: 25%;
    padding: 30px;
    color: white;
}

.clr {
    clear: both;
}

.pic img {
    width: 70%;
    /* height: 400px; */
    margin: 0 100px;
    /* border: 15px solid #555555; */
    box-shadow: 0 -20px 0 8px #555555;
    border-radius: 5px;
}


.layer {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 400px;
    margin: 0 100px;
    width: 70%;
    opacity: 0;
}

.img:hover .layer {
    opacity: 1;
}

.about {
    width: 40%;
    float: left;
}

.about h1,
p {
    text-align: left;
}

.about p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    margin-top: 12px;
    padding-bottom: 25px;

}

.about h1 {
    position: relative;
}

.about h1::before {
    content: "";
    background-color: red;
    position: absolute;
    top: 0px;
    left: -12px;
    width: 5px;
    height: 30px;
    margin-top: 2px;

}

.about ul {
    list-style-type: none;
}

.about ul li {
    margin-bottom: 25px;
}

.about ul li:nth-child(2n) {
    float: left;
    width: 60%;
}

.about ul li:nth-child(2n+1) {
    float: left;
    width: 40%;
}

.bttn1 {
    width: 30%;
    float: left;
}

.bttn2 {
    width: 30%;
    float: left;
}

.send1 button {
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    border-style: none;
    padding: 15px 25px;
    margin-left: 10px;
    border-radius: 2px;
}

.clr {
    clear: both;
}

/* ----------------------- */
/* 3rd section */
.service h2 {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    background-color: #f1f1f1;

}

.service h2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    margin: 0 auto;
    width: 160px;
    height: 1px;
    background-color: #ff305b;
}

.service h2::before {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 70px;
    height: 20px;
    border: #ff305b solid;
    border-width: 1px 0px;
}

.div_1 p {
    padding: 25px;
}

.div_1 img {
    width: 30px;
    transition: transform 1s;
}

.div_1 {
    width: 25%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 150px 0 54px;
    background-color: #f1f1f1;
    transition: background-color 2s;
    overflow: auto;
    transition: background_color 1s;


}

.div_1:hover img {
    transform: scale(1.3);
}

.div_1:hover {
    background-color: white;
    box-shadow: 0 15px 100px white;
}

/* ------------------ */
/* 4th section */
.Our_Portfolio {
    margin-top: 40px;
}

.portfolio_content {
    text-align: center;
    /* margin-top: 40px; */
}

.portfolio_content1 h2 {
    position: relative;
    padding-bottom: 20px
}

.portfolio_content1 h2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -10px;
    margin: 0 auto;
    width: 160px;
    height: 1px;
    background-color: #ff305b;
}

.portfolio_content1 h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 70px;
    height: 20px;
    border: #ff305b solid;
    border-width: 1px 0px;
}

.bottom button {
    border: none;
    background-color: transparent;
    margin: 20px;
    padding-top: 40px;
}

.img {
    position: relative;

}

.img_1 {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 30px;
    position: relative;

}

.img_1 img {
    width: 90%;
}


.l {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.l:hover {
    opacity: 1;
}

/* 5th section */
.div_2 {
    width: 25%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #f1f1f1;
    font-size: 17px;
    padding: 150px 0 54px;
}

.div_2 p {
    text-align: center;
}

.div_2 i {
    color: #ff305b;
    font-size: 26px;
    margin-bottom: 15px;
}

/* 6th section */
.client {
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-top: 200px;

}

.client h2 {
    font-size: 40px;
    position: relative;
}

.client h2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -16px;
    margin: 0 auto;
    width: 160px;
    height: 1px;
    background-color: #ff305b;
}

.client h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 80px;
    height: 7px;
    border: #ff305b solid;
    border-width: 1px 0px;
}

.text h4 i,
a {
    color: gray;
}

.review-reating {
    color: #f1c30d;
    margin-bottom: 12px;
}

.feedback {
    width: 60%;
    background-color: #f1f1f1;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    position: relative;

}

.person {
    float: left;
    width: 30%;
    margin-left: -30px;
    padding: 20px 0;

}

.person img {
    border-radius: 50%;
    width: 80%;
}

.text {
    float: left;
    width: 70%;
    margin: 10px 10px;
    box-sizing: border-box;
    padding: 20px;
}

/* 7th section  */
.blog {
    background-color: #999999;
}

.our {
    background-color: #f1f1f1;
}

.webdesign {
    background-color: #f1f1f1;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 40px;
}

.webdesign img {
    width: 100%;
}

.our p h3 {
    background-color: white;
    padding: 10px 5px;

}

.webdesign p,
h3 {
    padding: 10px;
}

.our button a {
    background-color: transparent;
    color: black;
    font-size: 17px;

}

.our h2 {
    text-align: center;
    margin-top: 50px;
    padding: 50px 0;
    position: relative;
}

.our h2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 44px;
    margin: 0 auto;
    width: 160px;
    height: 1px;
    background-color: #ff305b;
}

.our h2::before {
    content: "";
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 80px;
    height: 7px;
    border: #ff305b solid;
    border-width: 1px 0px;
}

.webdesign button {
    border: none;
    margin: 20px;
    padding: 10px 5px;
    background-color: transparent;
}

.webdesign button a:hover {
    color: #ff305b;

}

a {
    text-decoration: none;
}

/* 8th section */
.contact h2 {
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.contact h2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 50px;
    margin: 0 auto;
    width: 160px;
    height: 1px;
    background-color: #ff305b;
}

.contact h2::before {
    content: "";
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 70px;
    height: 20px;
    border: #ff305b solid;
    border-width: 1px 0px;
}

.form input {
    margin: 10px 300px;
    width: 50%;
    height: 30px;
}

.form textarea,
.send button {
    margin: 10px 300px;
}


.send button {
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    border-style: none;
    padding: 15px 25px;
    border-radius: 2px;
}

.send button:hover {
    background-color: red;
}

/* 9th section */
.footer {
    text-align: center;
    margin: auto;
    background-color: #353330;
    height: 30vh;
    color: #ffff;
}

.icon-bar {
    width: 20%;
    margin: 20px auto;
    text-align: center;
}

.icon-bar a {
    float: left;
    text-align: center;
    padding: 16px;
    margin: 20px 0;
    color: white;
    border-radius: 50%;

}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
    width: 5%;
}

.twitter {
    background: #55ACEE;
    color: white;
    width: 5%;

}

.google {
    background: #dd4b39;
    color: white;
    width: 5%;

}

.linkedin {
    background: #007bb5;
    color: white;
    width: 5%;

}

.youtube {
    background: #bb0000;
    color: white;
    width: 5%;

}

span {
    color: #ff305b;
}